body{
    font-family: 'Thoma', sans-serif;
    font-size: 1.5rem;
    margin: 0px;
  }
  
  
  
  /* Navigation */
  
  .nav{
    display: flex;
    justify-content: flex-end;
    position: fixed;
    width: 100%;
    background-color: #304d6d;
    color: white;
    top: 0;
    left: 0;
  }
  
  /* Size of most phones? */
  @media (max-width: 768px) {
    .welcome-section {
        text-align: center;
    }
    
    .nav {
      justify-content: center;
    }

    .projects {
        height: 1100px;
        text-align: center;
    }

    .grid{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
  }
  
  
  a{
    color:white;
  }
  
  a:visited{
    color: white;
  }
  
  
  .nav-list{
    display: flex;
    margin: 0 2rem 0 0;
    list-style: none;
  }
  
  #Work {
      animation-delay: .1s;
  }

  #Contact {  
    animation-delay: .2s;
  }
  
  
  .nav-list a{
    display: block;
    padding: 1em;
    text-decoration: none;
  }
  
  .nav-list a:hover {
    background: #a7cced;
    color: #304d6d;
  }
  
  /* Welcome Section */
  
  .welcome-section
  {
    background-color: #63adf2;
    
    height: 100vh;
    width: 100%;
    margin: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .welcome-section h1 {
    font-size: 2em;
    margin: 0px;
    color: #253b54;
  }
  
  .welcome-section p {
    font-style: italic;
    margin: 0px;
    color: #304d6d;
    animation-delay: .2s;
  }
  
  
  /* Project Section */
  
  .projects{
    background-color: #6f808a;
    margin: 0px;
    padding-bottom: 5em;
  }
  
  .projects h2{
    color: white;
    margin: 0px;
    display: flex;
    justify-content: center;
    padding-top: 7rem;
  }
  
  .grid {
    display: flex;
    justify-content: center;
    padding-top: 3rem;
  }
  
  figure{
    max-width: 350px;
  }
  
  figcaption{
    text-align: center;
    background-color: #304d6d;
    bottom: 5px;
    padding: 10px;
    height: 2.2em;
  }
  
  
  
  .contact-section {
    background-color: #304d6d;
    color: white;
    display: flex;
    justify-content: center;
    text-align: center;
    
  }
  
  .contact-section p{
    font-size: 1.1rem;
  }
  
  footer {
    border-top: 5px solid #6f808a;
    background-color: #304d6d;
    color: white;
    display: flex;
    justify-content: center;
  }
  
  footer p {
    font-size: 1rem;
  }