body{
    font-family: 'Thoma', sans-serif;
    font-size: 1.5rem;
    margin: 0px;
  }
  

  /* Navigation */
  
  .nav{
    display: flex;
    justify-content: flex-end;
    position: fixed;
    width: 100%;
    background-color: #223d57;
    color: #efe6e8;
    top: 0;
    left: 0;
    z-index: 1;
  }
  
  /* Size of most phones? */
  @media (max-width: 768px) {
    .welcome-section {
        text-align: center;
    }
    
    .nav {
      justify-content: center;
    }

    .projects {
        height: 2100px;
        text-align: center;
    }

    .github-profile {
      padding-top: 5px;
    }
    
    figcaption {
      height: 50px;
    }

    .grid{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
  }
  
  
  a{
    color:#efe6e8;
  }
  
  a:visited{
    color: #efe6e8;
  }
  
  
  .nav-list{
    display: flex;
    margin: 0 2rem 0 0;
    list-style: none;
  }

  #About {
      animation-duration: 1.2s;
  }


  
  #Work {
      animation-delay: .1s;
      animation-duration: 1.2s;
  }

  #Contact {  
    animation-delay: .2s;
    animation-duration: 1.2s;
  }
  
  
  .nav-list a{
    display: block;
    padding: 1em;
    text-decoration: none;
  }
  
  .nav-list a:hover {
    background: #31658e;
  }
  
  /* Welcome Section */
  
  .welcome-section
  {
    background-color: #6a314b;  
    height: 100vh;
    width: 100%;
    margin: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .welcome-section h1 {
    font-size: 2em;
    margin: 0px;
    color: #efe6e8;
    animation-duration: 1.5s;
  }
  
  .welcome-section p {
    font-style: italic;
    margin: 0px;
    color: #efe6e8;
    animation-duration: 1.5s;
    animation-delay: .2s;
  }
  
  
  /* Project Section */
  
  .projects{
    background-color: #31658e;
    margin: 0px;
    padding-bottom: 5em;
  }
  
  .projects h2{
    color: #efe6e8;
    margin: 0px;
    display: flex;
    justify-content: center;
    padding-top: 7rem;
  }
  
  .grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 3rem;
  }
  
  figure{
    max-width: 350px;
    background-color: #223d57;
    border: 5px solid #223d57;
  }

  #planet {
    width: 350px;
  }

  #bbcard {  
    height: 350px;
    width: 350px;
  }

  #species {
    height: 350px;
    width: 350px;
  }
  
  figcaption{
    text-align: center;
    background-color: #223d57;
    bottom: 4px;
    padding: 10px;
  }
  
  #profile-link figcaption {
    padding-top: 20px;
  }
  
  
  .contact-section {
    background-color: #223d57;
    color: #efe6e8;
    display: flex;
    justify-content: center;
    text-align: center;
    
  }
  
  .contact-section p {
    font-size: 1.1rem;
  }


  footer {
    border-top: 5px solid #31658e;
    background-color: #223d57;
    color: #efe6e8;
    display: flex;
    justify-content: center;
  }
  
  footer p {
    font-size: 1rem;
  }
